footer {
    font: 4vw/4vw 'Pathway Gothic One', sans-serif;
    font-size: 6vw;
    line-height: 6vw;

    background-color: $primaryColor;
    padding: 2vw;

    .me {
        font-size: 5vw;
        line-height: 5vw;
        text-align: center;
        text-transform: uppercase;
    }

    .copyright {
        font-size: 4vw;
        line-height: 4vw;
        text-align: center;
        padding-top: 2vw;

        span {
            vertical-align: middle;
        }
    }
}