html {
    font-size: 100%;
    box-sizing: border-box;

    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: $backgroundColor;
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: inherit;
}

.button {
    background-color: transparent;
    border: 2px solid $primaryColor;
    color: $primaryColor;
    cursor: pointer;
    transition-property: color, border-color, background-color;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;

    &:hover {
        background-color: $primaryColor;
        border-color: opacify($secondaryColor, 1);
        color: opacify(saturate($secondaryColor, 100%), 1);
    }
}