.introduction {
    margin-top: 10%;
    @include movie-poster();
    text-transform: uppercase;

    .movie-main {
        padding-top: 4vw;
        font-size: 7vw;
        line-height: 7vw;

        p {
            margin-left: 70%;
        }

        span {
            display: block;
        }

        span:nth-child(3) {
            font-size: 4vw;
            padding-left: 3vw;
        }

        span:nth-child(5) {
            font-size: 4vw;
        }
    }

    .movie-name {
        font-size: 12vw;
        line-height: 12vw;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;

        margin: 20% 0;
        transform-origin: 50% 50%;
        transform: rotate(5deg);
    }

    .movie-footer {
        font-size: 5vw;
        line-height: 6vw;
        padding: 4vw;
        padding-top: 0;
        text-transform: initial;

        button {
            font: inherit;
            font-size: 5vw;
            margin-top: 4vw;
            text-transform: uppercase;
            padding: 2vw;
        }
    }
}