.introduction {
    margin-top: 10%;
    @include movie-poster();

    .movie-main {
        padding-top: 4vw;
        font-size: 10vw;
        line-height: 10vw;

        p {
            margin-left: 65%;
        }

        span {
            display: block;
        }

        span:nth-child(2) {
            padding-left: 7vw;
        }

        span:nth-child(3) {
            text-transform: uppercase;
            font-size: 5vw;
        }

        span:nth-child(5) {
            text-transform: uppercase;
            font-size: 5vw;
        }
    }

    .movie-name {
        font-size: 12vw;
        line-height: 12vw;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;

        margin: 20% 0;
        transform-origin: 50% 50%;
        transform: rotate(5deg);
    }

    .movie-footer {
        padding: 4vw;
        padding-top: 0;
    }
}