.menu-trigger {
    font-size: 10.5vw;

    margin: -0.4vw 0 0 2vw;
}

.menu {
    position: absolute;
    top: 0;
    left: 2%;
    z-index: 1;

    background-color: hsla(0, 0%, 0%, 0.9);
    min-width: 90%;

    border: 2px solid $primaryColor;
    border-top: 0;
    padding: 2.5%;
    list-style: none;

    .menu-collapse {
        font: 5vw/5vw 'Comic Sans MS', sans-serif;
        font-size: 10vw;
        line-height: 10vw;
        margin-bottom: 5%;

        cursor: pointer;
        background: none;
        border: 0;
        color: saturate($secondaryColor, 100%);
        font-weight: bold;
        transform: rotate(-15deg);
    }

    li:not(:first-child) {
        margin: 5% 0;
        padding: 0 10%;

        a {
            // TODO: Get League Gothic font
            // font: 4vw/4vw 'League gothic', Impact, sans-serif;
            font: 4vw/4vw 'Pathway Gothic One', sans-serif;
            font-weight: bold;

            font-size: 12vw;
            line-height: 12vw;

            margin: 0;
            padding: 0;
            text-transform: uppercase;
        }
    }

    #contact-pencil {
        display: inline-block;
        font-size: 6vw;

        transform: translateY(-5vw);
    }

    display: none;
}