$breakpoints: ('iphone': '480px', 'ipad': '768px', 'macbook': '1024px', 'imac': '1280px');

@mixin breakpoints-up($size) {
    @media screen and (min-width: map-get($map: $breakpoints, $key: $size)) {
        @content;
    }
}

@mixin breakpoints-down($size) {
    @media screen and (max-width: map-get($map: $breakpoints, $key: $size)) {
        @content;
    }
}

@mixin movie-poster() {
    border: 2px solid $primaryColor;
    font: 4vw/4vw 'Pathway Gothic One', sans-serif;

    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;

    font-size: 6vw;
    line-height: 6vw;
}