.projects {
    // temp styles
    min-height: 90vh;

    @include movie-poster();
    border-bottom: 0;

    .movie-name {
        text-transform: uppercase;
        text-align: center;

        background-color: $primaryColor;
        color: #fff;

        p:nth-child(1) {
            font-size: 10vw;
            line-height: 10vw;
            font-weight: bold;
            padding: 4vw;
        }

        p:nth-child(2) {
            font-size: 5vw;
            line-height: 5vw;
            border: 2px solid #fff;
            border-left: 0;
            border-right: 0;
            padding: 1vw 0;
        }
    }

    .movie-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        flex-grow: 1;

        .project {
            border: 2px solid $primaryColor;
        }
    }
}