@import './_variables.scss';
@import './_mixins.scss';

.frames {
    .frame-1 {
        position: absolute;
        top: 12vh;
        left: 25.5vw;

        width: calc(75vw - 0.7vw);
        height: calc(80vh + 5vh);

        background-color: $secondaryColor;
    }

    .frame-2 {
        position: absolute;
        top: 0vh;
        right: 1.5vw;

        width: 78vw;
        height: 80vh;

        background-color: lighten($primaryColor, 10%);
    }
}

#bedroom-container {
    position: absolute;
    top: 5vh;
    left: 17.5vw;
    
    border: 2vw solid $primaryColor;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: end;
}

#bedroom-handle {
    width: 75vw;
    height: 80vh;

    // temp styles
    // border: 2px solid #000;
}

#bedroom-toggle {
    position: absolute;
    bottom: 8%;
    left: 45%;

    font-size: 1.2vw;
    padding: 0.5vw;

    &:hover {
        transform: scale(1.2);
    }

    @include buttonWithBorder()
}