@import './_variables.scss';
@import './_mixins.scss';

#introduction {
    margin: 3vw;
    margin-top: 100vh;

    font-size: 1.5rem;
    line-height: 3rem;

    p {
        font-size: 2.5rem;
    }
    
    #hello {
        display: block;
        font-size: 5rem;

        cursor: default;
    }

    #aryaa {
        font-size: 5rem;
        color: saturate($secondaryColor, 100%);
        text-shadow: 0.2rem 0.2rem $primaryColor;
    }

    .inject {
        border-right: 3px solid $secondaryColor;
    
        color: saturate($secondaryColor, 100%);
        text-shadow: 0.2rem 0.2rem $primaryColor;
    }

    #resume {
        @include buttonWithBorder();

        width: 8rem;
        height: 2.5rem;
        margin-top: 1rem;
    }
}