@import './_variables.scss';
@import './_mixins.scss';

.menu-trigger {
    margin-left: 3vw;
    padding: 0.25vw 0.7vw;
    
    font-size: 2.5vw;
    
    @include buttonWithBorder();
    border-top: none;
}

.menu-items {
    position: absolute;
    top: 0;
    left: 3vw;
    z-index: 1;

    min-width: 14vw;

    border: 2px solid $primaryColor;
    border-top: none;

    list-style-type: none;

    background-color: $almostTransparent;

    // display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;

    li:not(:nth-child(1)) {
        align-self: center;
        width: 100%;
        padding: 1vw 2vw;

        font-size: 1.5vw;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: start;
    }

    li:nth-last-child(1) {
        margin-bottom: 1vw;
    }

    li a {
        text-transform: uppercase;
        text-decoration: none;
        color: inherit;
        // font-weight: 500;

        transition-property: color;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;

        &:hover {
            color: saturate($secondaryColor, 100%);
        }
    }

    .menu-collapse {
        font-weight: 500;
        font-size: 2.5vw;
        color: $secondaryColor;

        margin: 1vw;
        width: 3.5vw;
        height: 3.5vw;

        background-color: transparent;
        border: none;

        transform-origin: 50% 50%;
        transform: rotate(-20deg);

        transition-property: color;
        transition-duration: 0.5s;
        transition-timing-function: ease-out;

        &:hover {
            color: saturate($secondaryColor, 100%);
        }
    }

    display: none;
}