html {
  font-size: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #201513;
  color: #ffffff;
  font-family: Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  position: relative;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}

.button {
  background-color: transparent;
  border: 2px solid rgba(205, 45, 45, 0.75);
  color: rgba(205, 45, 45, 0.75);
  cursor: pointer;
  transition-property: color, border-color, background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
}
.button:hover {
  background-color: rgba(205, 45, 45, 0.75);
  border-color: #32c39f;
  color: #00f5b8;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

.menu-trigger {
  font-size: 10.5vw;
  margin: -0.4vw 0 0 5%;
  padding: 0.25vw 0.7vw;
  background-color: rgba(0, 0, 0, 0.9);
  border-top: 0;
}

.menu {
  position: absolute;
  top: 0;
  left: 5%;
  background-color: rgba(0, 0, 0, 0.9);
  min-width: 90%;
  border: 2px solid rgba(205, 45, 45, 0.75);
  border-top: 0;
  padding: 2.5%;
  list-style: none;
  display: none;
}
.menu .menu-collapse {
  font: 5vw/5vw "Reenie Beanie", "Comic Sans MS", sans-serif;
  font-size: 20vw;
  line-height: 20vw;
  margin-bottom: 5%;
  cursor: pointer;
  background: none;
  border: 0;
  color: rgba(0, 245, 184, 0.75);
  font-weight: bold;
  transform: rotate(-15deg);
}
.menu li:not(:first-child) {
  margin: 5% 0;
  padding: 0 10%;
}
.menu li:not(:first-child) a {
  font: 4vw/4vw "Pathway Gothic One", sans-serif;
  font-weight: bold;
  font-size: 12vw;
  line-height: 12vw;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.menu li:not(:first-child) a:hover {
  text-decoration: underline;
}
.menu .emoji {
  display: inline-block;
  font-size: 6vw;
  transform: translateY(-5vw);
}

.presents {
  margin-top: 15vw;
  text-transform: uppercase;
  transform-origin: 50% 50%;
  transform: rotate(-5deg);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  font: 4vw/4vw "Pathway Gothic One", sans-serif;
  line-height: 12vw;
}
.presents p:first-child {
  font-size: 12vw;
  text-align: center;
}
.presents .presents-container {
  text-align: center;
}
.presents .presents-container div {
  display: inline-block;
  background-color: #fff;
  height: 0.2rem;
  width: 15vw;
  margin-bottom: 1.7vw;
}
.presents .presents-container p {
  font-size: 6vw;
  display: inline-block;
  padding-left: 2vw;
  padding-right: 2vw;
}
.presents p:last-child {
  font-size: 5vw;
  text-align: center;
  line-height: 9vw;
}
.presents p:last-child .name {
  font-size: 8vw;
  font-weight: bold;
  padding-left: 2vw;
  padding-right: 2vw;
}

.bedroom {
  position: relative;
  width: 90%;
  height: 55vh;
  border: 2px solid rgba(205, 45, 45, 0.75);
  border-top: 0;
  margin-left: 5%;
  margin-top: 0;
}
.bedroom .bedroom-canvas {
  width: 100%;
  height: 100%;
  outline: none;
  pointer-events: none;
}
.bedroom .bedroom-trigger {
  position: absolute;
  bottom: 10%;
  left: calc(50% - ((95px + 1.4vw + 4px) / 2));
  padding: 0.25rem 0.5rem;
}

.screening {
  margin-left: 5%;
  margin-top: 10%;
  padding: 2vw;
  width: 90vw;
  border: 2px solid rgba(205, 45, 45, 0.75);
  background-color: rgba(205, 45, 45, 0.75);
  overflow-x: hidden;
}
.screening p {
  font: 4vw/4vw "Pathway Gothic One", sans-serif;
  font-size: 6vw;
  line-height: 6vw;
  text-transform: uppercase;
  color: #00f5b8;
  transform-origin: 50% 50%;
  animation-name: screening;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes screening {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.introduction {
  margin-top: 10%;
  border: 2px solid rgba(205, 45, 45, 0.75);
  font: 4vw/4vw "Pathway Gothic One", sans-serif;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  font-size: 5vw;
  line-height: 5vw;
  text-transform: uppercase;
}
.introduction .movie-main {
  padding-top: 4vw;
  font-size: 10vw;
  line-height: 10vw;
}
.introduction .movie-main p {
  margin-left: 65%;
}
.introduction .movie-main span {
  display: block;
}
.introduction .movie-main span:nth-child(3) {
  font-size: 5vw;
  padding-left: 5vw;
}
.introduction .movie-main span:nth-child(5) {
  font-size: 5vw;
}
.introduction .movie-name {
  font-size: 12vw;
  line-height: 12vw;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 20% 0;
  transform-origin: 50% 50%;
  transform: rotate(5deg);
}
.introduction .movie-footer {
  padding: 4vw;
  padding-top: 0;
  text-transform: initial;
}

.resume {
  border: 2px solid rgba(205, 45, 45, 0.75);
  font: 4vw/4vw "Pathway Gothic One", sans-serif;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  font-size: 5vw;
  line-height: 5vw;
  border: 5vw solid rgba(205, 45, 45, 0.75);
  font-size: 5vw;
  line-height: 5vw;
}
.resume .movie-name {
  font-size: 12vw;
  line-height: 12vw;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 10%;
  margin-right: 4vw;
}
.resume .movie-name p > span {
  display: block;
}
.resume .movie-main {
  padding: 4vw;
  margin-top: 40%;
}
.resume .movie-main p:nth-child(3), .resume .movie-main p:nth-child(4) {
  margin: 2vw 2vw;
}
.resume .movie-main .skill {
  display: inline-block;
  font-size: 10vw;
  line-height: 10vw;
  padding: 0 2vw;
}
.resume .movie-footer {
  padding: 4vw;
  text-transform: uppercase;
  font-size: 4vw;
  line-height: 4vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.projects {
  min-height: 90vh;
  border: 2px solid rgba(205, 45, 45, 0.75);
  font: 4vw/4vw "Pathway Gothic One", sans-serif;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  font-size: 5vw;
  line-height: 5vw;
}
.projects .movie-name {
  font-size: 10vw;
  line-height: 10vw;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 4vw;
  background-color: rgba(205, 45, 45, 0.75);
}

footer {
  font: 4vw/4vw "Pathway Gothic One", sans-serif;
  font-size: 6vw;
  line-height: 6vw;
  background-color: rgba(205, 45, 45, 0.75);
  padding: 2vw;
}
footer .me {
  font-size: 5vw;
  line-height: 5vw;
  text-align: center;
  text-transform: uppercase;
}
footer .me:hover {
  text-decoration: underline;
}
footer .copyright {
  font-size: 4vw;
  line-height: 4vw;
  text-align: center;
  padding-top: 2vw;
}
footer .copyright span {
  vertical-align: middle;
}

/*# sourceMappingURL=index.css.map */
