.menu-trigger {
    position: relative;
    z-index: 1;

    width: 3rem;
    height: 3rem;
    margin-left: 2rem;
    
    font-size: 2rem;
    color: $primaryColor;

    background-color: $transparentBackground;
    border: 2px solid $primaryColor;
    border-top: none;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    // display: none;

    &:hover {
        background-color: $primaryColor;
        color: $secondaryColor;
        border-color: $secondaryColor;
    }
}

.menu-items {
    margin-left: 2rem;
    border: 2px solid $primaryColor;
    border-top: none;
    width: 12rem;
    height: 12rem;

    list-style-type: none;

    background-color: $transparentBackground;

    // display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;

    li:not(:nth-child(1)) {
        align-self: center;
        width: 100%;
        padding: 0 1.5rem;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: start;

        text-transform: uppercase;
    }

    li:nth-child(4) {
        margin-bottom: 1rem;
    }

    li a {
        text-decoration: none;
        color: inherit;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .menu-collapse {
        font-weight: 500;
        font-size: 1.5rem;
        font-style: italic;
        color: $secondaryColor;

        margin: 1rem;
        width: 2rem;
        height: 2rem;

        background-color: $transparentBackground;
        border: none;
    }

    display: none;
}